<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Book your Cinema!</h1>
    <%= link_to "Sign Up To Book!", new_user_registration_path, class: "btn btn-dark btn-lg" %>
  </div>
<% end %>

<h1>All Movies</h1>

<hr>


<div id= "container">
  <div class="photobanner center">
    <%= link_to (image_tag @first.image.url(:medium), class: 'image first img-thumbnail' ,width: "354" ,height:"236"), @first %>
  <% @movies.each do |movie| %>
  <% if movie.id!=1 %>
        <%= link_to (image_tag movie.image.url(:medium), class: 'image img-thumbnail ',width: "354" ,height:"236"), movie %>
  <% end %>
  <% end %>
</div>
</div>
