<h1>Role Based Access Control</h1>
<hr>

<%= link_to 'Manage Roles', roles_path, :class => "btn btn-primary" %>
<%= link_to 'Manage Permissions', permissions_path, :class => "btn btn-primary" %>
<%= link_to 'Assign Permission to Roles', role_permissions_path, :class => "btn btn-primary" %>
<%= link_to 'Assign Roles to Users', assign_path, :class => "btn btn-primary" %>